{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": [
    "import",
    "flowtype"
  ],
  "rules": {
    "no-use-before-define": 0,
    "global-require": 0,
    "camelcase": 0,
    "import/prefer-default-export": 0,
    "no-shadow": 0
  }
}
